:root {
  --primary-color: #4caf50;
  --text-color: #213547;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

.site-header {
  background-color: var(--primary-color);
  padding: 1rem;
}

.site-header__nav-list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.site-header__nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

main {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

#products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.product-card {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card__image {
  max-width: 100%;
  height: 100px;
  object-fit: contain;
}

.product-card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.product-card__details {
  margin-bottom: 10px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__timer {
  color: red;
  font-weight: bold;
}

.product-card__button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.product-card__button__disabled {
  background-color: red;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
