:root {
  --primary-color: #646cff;
  --primary-hover: #535bf2;
  --text-color: #213547;
  --background-color: #ffffff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav ul li a:hover {
  color: var(--primary-hover);
}

main {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

footer {
  background-color: var(--primary-color);
  padding: 1rem;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  main {
    padding: 3rem;
  }
}
